*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../aa.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 16px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    padding: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;

}
.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}
.button{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}
.btn:hover{
      background-color: #fff;
      color: #000;
}
.sub-menu{
    display: none;
    top: 6%;
    position: relative;
}
.sub-menu ul{
    position: absolute;
}

.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: rgb(0, 45, 117);
    margin-top: 12px;
    margin-left: -8px;
}
.main ul li:hover .sub-menu ul{
    display: block;
    margin: 6px;
}
.main ul li:hover .sub-menu ul li{
    width: 75px;
    padding: 5px;
    border-bottom: 1px #fff;
    background: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;
}
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}
.contact-heading{
    text-align: Center;
    margin: 40px 0px;
    margin-bottom: 80px; 
}
.contact-heading h1{
    font-size: 2.2rem;
}
.contact form{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact form input, .contact form textarea{
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    padding: 10px;
    background-color: #e2e2e2;
    color: #1e1e1e;
    border-radius: 5px;
}
.contact form textarea{
    height: 150px;
}
.contact.btn{
    margin-top: 40;
}
.aboutus{
    width: 100%;
    height: 110vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
    position: relative;
    background-color: wheat;
}    
    .aboutus-img{
        width: 60%;
    }
    .aboutus-img img{
        width: 400px;
    }
    .aboutus-text{
        width: 45%;
        color: #000;
        text-align: center;
    }
    .aboutus-text h2{
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center
    }
    .aboutus-text p{
        font-size: 1.1rem;
        color: #4b4b4b;
    }
    .aboutus-text buttom{
        float: right;
        width: 200px;
        height: 200px;
    }
    .form-container{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-bottom: 60px;
        background: #eee;
    }
    .form-container form{
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
        background: #fff;
        text-align: center;
        width: 500px;
    }
    .form-container form h3{
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 10px;
        color:#333;
    }
    .form-container form input{
        width: 100%;
        padding: 10px 15px;
        font-size: 17px;
        margin: 8px 0;
        background: #eee;
        border-radius:5px;
    }
    .form-container form select option{
        background: blueviolet;
    }
    .form-container form .form-btn{
        background: crimson;
        color: pink;
        text-transform: capitalize;
        font-size: 20px;
        cursor: pointer;
    }
    .form-container form .form-btn:hover{
        background: pink;
        color:#fff;
    }
    .form-container form p{
        margin-top: 10px;
        font-size:20px;
        color: #333;
    }
    .form-container form p a{
        color: pink;
    }
    .pizza{
        width: 100%;
        height: 110vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 5% 0px 5%;
        position: relative;
        background-color: wheat;
    }    
        .pizza-img{
            width: 100%;
        }
        .pizza-img img{
            width: 400px;
        }
        .pizza-text{
            width: 45%;
            color: #000;
            text-align: center;
        }
        .pizza-text h2{
            font-size: 2.2rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center
        }
        .pizza-text p{
            font-size: 1.1rem;
            color: #4b4b4b;
        }
        .pizza-text buttom{
            float: right;
        }
        .dessert{
            width: 100%;
            height: 110vh;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 50px 5% 0px 5%;
            position: relative;
            background-color: wheat;
        }    
            .dessert-img{
                width: 100%;
            }
            .dessert-img img{
                width: 400px;
            }
            .dessert-text{
                width: 45%;
                color: #000;
                text-align: center;
            }
            .dessert-text h2{
                font-size: 2.2rem;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center
            }
            .dessert-text p{
                font-size: 1.1rem;
                color: #4b4b4b;
            }
            .dessert-text buttom{
                float: right;
            }
            .burger{
                width: 100%;
                height: 110vh;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 50px 5% 0px 5%;
                position: relative;
                background-color: wheat;
            }    
                .burger-img{
                    width: 100%;
                }
                .burger-img img{
                    width: 400px;
                }
                .burger-text{
                    width: 45%;
                    color: #000;
                    text-align: center;
                }
                .burger-text h2{
                    font-size: 2.2rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: center
                }
                .burger-text p{
                    font-size: 1.1rem;
                    color: #4b4b4b;
                }
                .burger-text buttom{
                    float: right;
                }
                .pasta{
                    width: 100%;
                    height: 110vh;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 50px 5% 0px 5%;
                    position: relative;
                    background-color: wheat;
                }    
                    .pasta-img{
                        width: 100%;
                    }
                    .pasta-img img{
                        width: 400px;
                    }
                    .pasta-text{
                        width: 45%;
                        color: #000;
                        text-align: center;
                    }
                    .pasta-text h2{
                        font-size: 2.2rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        text-align: center
                    }
                    .pasta-text p{
                        font-size: 1.1rem;
                        color: #4b4b4b;
                    }
                    .pasta-text buttom{
                        float: right;
                    }
                    .burger{
                        width: 100%;
                        height: 110vh;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 50px 5% 0px 5%;
                        position: relative;
                        background-color: wheat;
                    }    
                        .burger-img{
                            width: 100%;
                        }
                        .burger-img img{
                            width: 400px;
                        }
                        .burger-text{
                            width: 45%;
                            color: #000;
                            text-align: center;
                        }
                        .burger-text h2{
                            font-size: 2.2rem;
                            font-weight: 600;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            text-align: center
                        }
                        .burger-text p{
                            font-size: 1.1rem;
                            color: #4b4b4b;
                        }
                        .burger-text buttom{
                            float: right;
                        }
                        .salad{
                            width: 100%;
                            height: 110vh;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 50px 5% 0px 5%;
                            position: relative;
                            background-color: wheat;
                        }    
                            .salad-img{
                                width: 100%;
                            }
                            .salad-img img{
                                width: 400px;
                            }
                            .salad-text{
                                width: 45%;
                                color: #000;
                                text-align: center;
                            }
                            .salad-text h2{
                                font-size: 2.2rem;
                                font-weight: 600;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                text-align: center
                            }
                            .salad-text p{
                                font-size: 1.1rem;
                                color: #4b4b4b;
                            }
                            .salad-text buttom{
                                float: right;
                            }

                            .navbar {
                                position: sticky;
                                top: 0;
                                z-index: 100;
                            }
                            
                            
                            
                            .navbar .logo{
                                float: left;
                                font-size: 3.5rem;
                                color: aliceblue;
                                padding-top: 6px;
                            }
                            .header-content{
                                position: absolute;
                                padding: 1rem;
                                text-align: center;
                                top:50%;
                                left: 50%;
                                transform: translate(-50%,-60%);
                            }
                            .site-info{
                                font-size: 3rem;
                                text-transform: uppercase;
                                color: #fff;
                            }
                            
                            .site-desc{
                                width: 100rem;
                                text-transform: uppercase;
                                color: #FFF;
                                word-spacing: 0.3rem;
                            }
                            .site-desc::first-letter{
                                font-size: 2rem;
                            }
                            .button-primary{
                                display: inline-block;
                                text-decoration: none;
                                text-transform: uppercase;
                                color: #e63946;
                                font-weight: bold;
                                background-color: #f4f4f4;
                                border-radius: 4rem;
                                padding: 1em 1.3em;
                                margin: 1.5em;
                                
                            }
                            
                            .button-primary:hover{
                                background-color: #ffe3e3;
                            }                                                        
                            
                            .navbar .nav-items{
                                
                                margin-top: 1rem;
                            }
                            
                            .navbar .nav-item{
                               
                                padding: 1.5rem;
                                text-transform: uppercase;
                            }
                            
                            .navbar a{
                                color: aliceblue;
                                text-decoration: none;
                            
                            }
                            
                            .navbar a:link,
                            .navbar a:visited
                            {
                                background-color: transparent;
                                color: #f4f4f4;
                            }   
                            
                            .navbar a:hover{
                                background-color: transparent;
                                /* color: #e63946; */
                                font-weight: 200;
                                border-bottom: 1px solid transparent;
                            }
                            
                            .navbar::after{
                                content: '';
                                display: block;
                                clear: both;
                            }